/*Create gradient background*/
html, body {
	margin: 0;
	overflow-x: hidden;
}

.wrapper {
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #F17C58, #E94584, #24AADB, #27DBB1, #FFDC18, #FF3706);
	background-size: 600% 100%;
	animation: gradient 10s linear infinite;
	animation-direction: alternate;
}

@keyframes gradient {
	0% {
		background-position: 0%
	}
	100% {
		background-position: 100%
	}
}

#backToTop {
	width: 40px;
	line-height: 40px;
	overflow: hidden;
	z-index: 999;
	display: none;
	cursor: pointer;
	opacity: 0.2;
	position: fixed;
	bottom: 50px;
	right: 0;
	color: #555;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	padding-right: 1rem;
}

#backToTop:hover {
	color: #4286f4;
	opacity: 0.5;
}

h2 {
	position: center;
	text-decoration: underline;
}

#jumbotron {
	position: center;
}

#break {
	height: 20px;
	position: relative;
	width: 100%;
	background: radial-gradient(ellipse farthest-side at top center, #24AADB, #f0027f, #75489f, transparent)
}

#carouselExampleFade {
	text-align: center;
	margin: auto auto 5% auto;
	width: 50%;
}

#youtube {
	position: center;
	padding: 50px 200px 50px 200px;
}

#aboutUs {
	margin-top: 5%;
}

#flavors {
	margin-top: 5%;
}

#events {
	margin-top: 5%;
	position: center;
	padding: 50px;
	text-align: center;
}

#location {
	position: relative;
	margin-top: 5%;
}

#contact {
	margin-top: 10px;
	margin-bottom: 50px;
}