/*Create gradient background*/
html, body {
	margin: 0;
}

.wrapper {
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #F17C58, #E94584, #24AADB, #27DBB1, #FFDC18, #FF3706);
	background-size: 600% 100%;
	animation: gradient 16s linear infinite;
	animation-direction: alternate;
}

@keyframes gradient {
	0% {
		background-position: 0%
	}
	100% {
		background-position: 100%
	}
}

h1 {
	text-decoration: underline;
}

#jumbotron {
	position: center;
	padding: 50px;
}

#break {
	height: 20px;
	position: relative;
	width: 100%;
	background: radial-gradient(ellipse farthest-side at top center, #24AADB, #f0027f, #75489f, transparent)
}

#carouselExampleFade {
	text-align: center;
	margin: auto;
	width: 50%;
	padding: 80px;
}

#about {
	margin-top: auto;
	padding: 80px;
}

#youtube {
	position: center;
	padding: 100px 100px 100px 100px;
}

#contact {
	margin-top: 10px;
	margin-bottom: 50px;
	padding: 100px 100px 100px 100px;
}